{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": ["@babel/transform-runtime", "@babel/plugin-syntax-import-meta"]
}
